<!-- 
  WHY IS IT A 
      POST /PLANES
  ?????
-->
<form action="/planes" method="post">
  <input type="text" name="plane[name]">
  <input type="text" name="plane[design]">
  <textarea name="plane[description]"></textarea>
  <button> Save Plane</button>
</form>
